
<html>
  <head>

  </head>

  <body>
  <!-- the block tags in jinja2 enable our html file to be extended by other html files, and individual blocks to be customized by being "overridden" in other html files-->

    <title>{% block title %} Hack News {% endblock title%}</title>
     

    <h1> Hack News: Rapid-Protoly-Typical </h1>

    {% block customhello %}
      {% if current_user.is_authenticated() %}
        Hi {{ current_user.name }}!
      {% endif %}
    {% endblock %}

    {% block errors %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="flashes">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

  
      <div class="container">
        error: {{ error }}
      </div>
    {% endblock %}

    
    {% block content %}
       <!-- main block where majority of page content goes -->
    {% endblock %}

    {% block navbar %}
      <div>
        <a href="{{ url_for('signup') }}"> signup </a>
      </div>
      <div>
        <a href="{{ url_for('submit') }}"> submit </a>
      </div>
      <div>
        <a href="{{ url_for('hello_again') }}"> home </a>
      </div>
      <div>
        <a href="{{ url_for('hello') }}"> hello </a>
      </div>
    {% endblock navbar %}
    
  </body>
</html>