
<html>
  <head>

  </head>

  <body>
    <title>{% block title %} Hack News {% endblock title%}</title>
     

    <h1> Hi there, the header would go here </h1>
    

    <!-- the blocks in jinja2 tags simply enable our file to be extended 
    by other html files-->

    {% block content %}

    {% endblock %}

    {% block navbar %}
      <div>
        <a href="{{ url_for('signup') }}"> signup </a>
      </div>
      <div>
        <a href="{{ url_for('hello_again') }}"> standings </a>
      </div>
    {% endblock navbar %}
    
  </body>
</html>