{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% include "hack_news_base.html" %}



{% block content %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class=flashes>
      {% for message in messages %}
        {{ message }}
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  
      <div class="container">
        error: {{ error }}
      </div>

      {% block navbar %}
      {% endblock navbar %}

      {# <div>
        <a href="{{ url_for('hello_again') }}"> standings </a>
      </div> #}
    
  {# <div class="container">               
    <h1> Hello, please sign up </h1>
    {{ wtf.quick_form(signup_form) }}
    <input type="submit" value="gimME!">
  </div> #}

  <form method="POST" action="/submit">
    {{ signup_form.csrf_token }}
    {{ signup_form.name.label }} {{ signup_form.name(size=20) }}
    {{ signup_form.password.label }} {{ signup_form.password(size=40) }}
    {{ signup_form.email.label }} {{ signup_form.email }}
    <input type="submit" value="GimMe!">
  </form>

{% endblock %}