[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
appnope = "*"
google-api-python-client = "*"
google-generativeai = "*"
# From dependabot
urllib3 = ">=2.2.2"
certifi = ">=2024.07.04"

[dev-packages]

[requires]
python_version = "3.11"
