<html>
  <head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

     {% block title %}<title> Hack News </title>{% endblock title%}

  </head>

  <body>
  <!-- the block tags in jinja2 enable our html file to be extended by other html files, and individual blocks to be customized by being "overridden" in other html files-->

    
     

    {# <h1> Hack News: Rapid-Protoly-Typical </h1>no longer needed #}

    {% block errors %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="flashes">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

     {% if error %}
      <div class="container">
        error: {{ error }}
      </div>
     {% endif %}

    {% endblock %}

    
    {% block content %}
       <!-- main block where majority of page content goes -->
    {% endblock %}
{# 
    {% block navbar %}
      <div>
        <a href="{{ url_for('signup') }}"> signup </a>
      </div>
      <div>
        <a href="{{ url_for('submit') }}"> submit </a>
      </div>
      <div>
        <a href="{{ url_for('hello_again') }}"> home </a>
      </div>
      <div>
        <a href="{{ url_for('hello') }}"> hello </a>
      </div>
    {% endblock navbar %} 
#}
    
  </body>
</html>