{% include "hack_news_base.html" %}

{% block content %}

{{ all_posts }}
  {% for post in all_posts %}
    <ul>  
      <li> title: {{ post.title }} </li>
      <li> (domain: {{ post.domain }}) </li>
      <li> points: {{ post.points }} </li>
      <li> submitted by: {{ post.username }} </li>
    </ul>
  {% endfor %}

  </table></td></tr>
      <tr style="height:10px"></tr><tr><td><img src="s.gif" height="20" width="0"><table border="0" cellpadding="0" cellspacing="0">
      <tr><td></td><td><img src="s.gif" height="1" width="14"></td><td>These are jobs at startups that were funded by Y Combinator.
        You can also get a job at a YC startup through
        <a href="https://triplebyte.com/?ref=yc_jobs"><u>Triplebyte</u></a>.


      </td></tr><tr style="height:20px"></tr>
                <tr class='athing'>
      <td align="right" valign="top" class="title"><span class="rank">1.</span></td>      <td></td><td class="title"><span class="deadmark"></span><a href="https://www.scienceexchange.com/jobs?gh_jid=89107" rel="nofollow">Science Exchange (YC S11) Is Hiring a Junior BI Engineer</a><span class="sitebit comhead"> (scienceexchange.com)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        4 minutes ago              </td></tr>

        
     <tr style="height:5px">
                   <tr class='athing'>
         <td align="right" valign="top" class="title"><span class="rank">2.</span></td>      <td></td><td class="title"><span class="deadmark"></span><a href="item?id=10076643">Teespring (YC W13) Is Looking for a Senior Full-Stack Engineer</a></td></tr><tr><td colspan="2"></td><td class="subtext">
           3 hours ago              </td></tr>
         <tr style="height:5px">
                   <tr class='athing'>
         <td align="right" valign="top" class="title"><span class="rank">3.</span></td>      <td></td><td class="title"><span class="deadmark"></span><a href="https://zerocater.com/jobs/" rel="nofollow">ZeroCater Is Hiring a VP of Engineering and a Head of Product</a><span class="sitebit comhead"> (zerocater.com)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
           6 hours ago              </td></tr>


{% endblock %}