<html>
  <head>

  </head>

  <body>
    <title>Title here</title>
     

    <h1> My Page </h1>
     
    {%  for num in num_list %}
      <li> this is number: {{ num }} </li>
    {% endfor %}

    <form method="POST" action="/person_form">

    {{ person_form.csrf_token }}
    {{ person_form.name.label }} {{ person_form.name(size=20) }}
    {{ person_form.SSN.label }} {{ person_form.SSN(size=20) }}
    {{ person_form.age.label }} {{ person_form.age(size=20) }}

    <input type="submit" value="Gimme Data!">
    </form>
    
  </body>
</html>