{% extends "hack_news_base.html" %}


{% block customhello %}
    <footer> 
    {% if current_user.is_authenticated() %}
    Hi {{ current_user.username }}!
    {% endif %}
    </footer>
{% endblock %}


{% block content %}


{% for user in all_users %}
  <ul>  
    <li> user id: {{ user.id }} </li>
    <li> username: {{ user.username }} </li>
    <li> date created: {{ user.date_created }} </li>
    <li> email: {{ user.email }} </li>
  </ul>
{% endfor %}

{# <div> hello custom user this is live code we are reloading</div> #}


{% endblock %}