<!DOCTYPE html>
<html>
  <head>
    <title>Radish - Add a link</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap"
      rel="stylesheet"
    />

    <style>
      .error {
        color: red;
        font-style: italic;
        font-family: 'Comic Neue', cursive;
        font-family: cursive;
      }
    </style>
  </head>
  <body>
    <form action="/links/create" method="POST">
      <div>
        URL: <input name="url" placeholder="Site URL" value="{{ url }}" />
      </div>
      {% if url_error %}
      <div class="error">{{ url_error }}</div>
      {% endif %}

      <div>
        Name:
        <input name="name" placeholder="Name of site" value="{{ name }}" />
      </div>
      {% if name_error %}
      <div class="error">{{ name_error }}</div>
      {% endif %}

      <button>Create Link</button>
    </form>
  </body>
</html>
