<script>
  const wsProtocol = window.location.protocol == "https:" ? "wss:" : "ws:"

  const ws = new WebSocket(`${wsProtocol}//${window.location.host}/socket`)

  ws.onmessage = event => {
    const data = JSON.parse(event.data)
    const div = document.createElement('div')

    div.innerText = `${data.username}: ${data.text}`

    document.getElementById('posts').appendChild(div)
  }
</script>

{% if user.is_authenticated %}
  <p>Logged in as {{ user.username }}.
  <a href="/logout">Logout</a></p>
{% else %}
  <a href="/login">Login</a>
  |
  <a href="/signup">Signup</a>
{% endif %}

<h2>Users</h2>

{% for user in users %}
  <div>{{ user.username }}</div>
{% endfor %}

<h2>Posts</h2>

<div id="posts">
  {% for post in posts %}
    <div>
      {{ post.user.username }}:
      {{ post.text }}
    </div>
  {% endfor %}
</div>


<h2>Make a post</h2>

{% if user.is_authenticated %}
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Post</button>
  </form>
{% else %}
  <p>You must be logged in to post.</p>
{% endif %}
